* {
    box-sizing: border-box;
}

body {
    background-color: #000000; /* Schwarzer Hintergrund als Basis */
    background-image: 
      radial-gradient(circle at 50% 0%, #FF00FF, transparent 60%), /* Neon-Pink Glow */
      radial-gradient(circle at 50% 100%, #00FFFF, transparent 60%), /* Neon-Cyan Glow */
      radial-gradient(circle at 50% 50%, #00FF00, transparent 60%), /* Neon-Grün Glow (Frosch) */
      linear-gradient(to right, rgba(0, 255, 0, 0.2) 1px, transparent 1px), /* Vertikale Neon-Grünlinien */
      linear-gradient(to bottom, rgba(0, 255, 0, 0.2) 1px, transparent 1px); /* Horizontale Neon-Grünlinien */
    background-size: 50px 50px; /* Größe des Rasters */
    background-repeat: repeat;
    background-position: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

#hero-image {
    background-image: url(/static/Images/frog_pic1.webp);
    background-size: cover;
    background-position: center;
}

#game-image {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

#game-image img {
    width: 100%;
    max-width: 300px;
    border: 2px solid #00FF00;
}

#game_intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 20px 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid #00FF00;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
}

#flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    height: 300px;
}

#play_game {
    flex: 1;
    padding: 20px;
    background-color: #00FF00;
    border: 2px solid #00FF00;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 300px;
    height: 250px;
    box-shadow: 0 0 15px rgba(0, 255, 0, 0.9);
    backdrop-filter: blur(5px);
}

#controls, #team {
    flex: 1;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid #00FF00;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 300px;
    max-height: 250px;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.3);
}

#team {
    order: -1;
}

.button {
    background-color: #007bff;
    border-radius: 5px !important;
    border: none;
    text-decoration: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    display: block;
    width: 80%;
    max-width: 200px;
    margin: 10px auto;
    font-size: 1em;
}

.button:hover {
    background-color: green;
}
