/* styles.css */

:root {
  --primary-color: #00000b;
  --shadow-color: rgb(0, 0, 11, 1);
}

body {
  background-color: var(--primary-color);
}
/* team.css */

.team-photo {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.team-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: whitesmoke;
  opacity: 0;
  transform: translateX(0); /* Initial state for all cards */
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.team-card.visible {
  opacity: 1;
}

.slide-in-left {
  transform: translateX(25%);
}

.team-card.visible.slide-in-left {
  transform: translateX(0);
}

.slide-in-right {
  transform: translateX(-25%);
}

.team-card.visible.slide-in-right {
  transform: translateX(0);
}

@media (max-width: 767.98px) {
  .team-card {
    margin-top: 20px;
    transform: translateX(0);
    opacity: 1;
    transition: none; /* Disable transition on small screens */
  }
}

.main-icon {
  font-size: 50px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.icons-circle {
  position: absolute;
  pointer-events: none;
  top: 0%;
  left: 25%;
  transform: translate(-50%, -50%);
}
/* Add this to your CSS */
.icons-circle .icon {
  position: absolute;
  transition: transform 0.3s ease, opacity 0.3s ease, left 0.5s ease, top 0.5s ease;
  opacity: 0;
}

.icons-circle .icon.show {
  opacity: 1;
  transform: scale(1); /* Scale to full size */
}

.svg-icon {
  filter: drop-shadow(6px 6px 7px var(--shadow-color)) drop-shadow(-6px -6px 7px var(--shadow-color))
    drop-shadow(6px -6px 7px var(--shadow-color)) drop-shadow(-6px 6px 7px var(--shadow-color));
}
